<div class="modal-container">
  <div class="modal-header">
    <div class="modal-title">
      Documento de Identidad
    </div>
    <button class="close-button" mat-icon-button matTooltip="Cerrar" (click)="closeModal()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>

  <div class="modal-content">
    <div class="image-container">
      <img [src]="urlPhoto" alt="Documento de identidad" class="modal-image">
      <div class="image-overlay" *ngIf="!urlPhoto">
        <mat-icon class="placeholder-icon">image</mat-icon>
        <p>Imagen no disponible</p>
      </div>
    </div>
    
    <div class="image-actions" *ngIf="urlPhoto">
      <button mat-stroked-button (click)="zoomIn()" class="action-button">
        <mat-icon>zoom_in</mat-icon>
        Acercar
      </button>
      <button mat-stroked-button (click)="zoomOut()" class="action-button">
        <mat-icon>zoom_out</mat-icon>
        Alejar
      </button>
      <button mat-stroked-button (click)="rotateImage()" class="action-button">
        <mat-icon>rotate_right</mat-icon>
        Rotar
      </button>
    </div>
  </div>
</div>