<div class="main-content">
    <div class="row">
      <div class="col-11 msg-no-found">
          Documento de Identidad
      </div>
      <div class="col-1 align-right">
          <button mat-icon-button class="delete-color" matTooltip="Cerrar"
          (click)="closeModal()"> 
              <mat-icon class="font-weight-boldest">close</mat-icon>
          </button>
      </div>
    </div> 

    <div class="row">
      <div class="col-12 align-center">
        <img [src]="data.urlPhoto" alt="Documento de identidad" class="img-modal">
      </div>
  </div>