<div class="main-content">
  <div class="row header">
      <div class="col-4">
        <nav class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink=".">Roles</a></li>
            <li class="breadcrumb-item active" aria-current="page">Listado</li>
          </ol>
        </nav>
      </div>
      <div class="col-8">
        <div class="btn-flex-end">
            <button mat-raised-button class="button-add-color" (click)="openAdd()">
              <div class="btn-content">
                <div class="button-txt">
                  Agregar
                </div>
                <div class="icon">
                  <mat-icon>add_circle_outline</mat-icon>
                </div>
              </div>
            </button>
          </div>
      </div>
    </div>

  <div class="row" [hidden]="loading">
    <div class="col-8">
      <div class="filter-class p-top">
        <mat-form-field appearance="standard">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)"  #input>
        </mat-form-field>
      </div>
    </div>
 
    <div class="mat-elevation-z8 ">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort>


          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
            <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
          </ng-container>
        
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button class="edit-color" matTooltip="Editar"     
              (click)="onEdit(row)">
                  <mat-icon class="font-weight-boldest">create</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" 
            (click)="selectedRow = selectedRow === row ? null : row" [ngClass]="{ 'selected': row === selectedRow }"
          > 
          </tr>
  
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell msg-no-found" colspan="8">No hay datos que coincidan"</td>
          </tr>
        </table>
      </div>
    </div>
  </div>