<div class="main-content">
  <div class="row header">
      <div class="col-4">
        <nav class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink=".">Facturas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Listado</li>
          </ol>
        </nav>
      </div>
      <div class="col-8">
        <div class="btn-flex-end">
            <button mat-raised-button class="button-add-color" (click)="openAdd()">
              <div class="btn-content">
                <div class="button-txt">
                  Agregar
                </div>
                <div class="icon">
                  <mat-icon>add_circle_outline</mat-icon>
                </div>
              </div>
            </button>
          </div>
      </div>
    </div>

  <div class="row" [hidden]="loading">
    <div class="col-8">
      <div class="filter-class p-top">
        <mat-form-field appearance="standard">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)"  #input>
        </mat-form-field>
      </div>
    </div>
 
    <div class="mat-elevation-z8 ">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="cedula">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cédula</th>
            <td mat-cell *matCellDef="let row"> {{row.cliente.nroDocumentoIdentidad}} </td>
          </ng-container>

          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
            <td mat-cell *matCellDef="let row" [ngClass]="'w-45'" [matTooltip]="row.cliente.nombreCompleto"> {{ row.cliente.nombreCompleto }} </td>
          </ng-container>

          <ng-container matColumnDef="local">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Local</th>
            <td mat-cell *matCellDef="let row"> {{ row.local.nombre }} </td>
          </ng-container>

          
          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef mat-sort-header># Factura</th>
            <td mat-cell *matCellDef="let row"> {{ row.numero }} </td>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
            <td mat-cell *matCellDef="let row"> {{ row.fecha | date: "dd-MM-yyyy"  }} </td>
          </ng-container>

          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto</th>
            <td mat-cell *matCellDef="let row"> {{ row.monto | number: '1.2-2' }} </td>
          </ng-container>

          <ng-container matColumnDef="cupones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cupones</th>
            <td mat-cell *matCellDef="let row"> {{ getCupones(row) }}  </td>
          </ng-container>
        
        
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button class="edit-color" matTooltip="Editar"     
                (click)="onEdit(row)">
                  <mat-icon class="font-weight-boldest">create</mat-icon>
              </button>
              <button mat-icon-button class="edit-color" matTooltip="Enviar cupones" 
                (click)="onEmail(row)">
                  <mat-icon class="font-weight-boldest">email</mat-icon>
              </button>
              <button mat-icon-button class="edit-color" matTooltip="Imprimir" *ngIf="row.print == 0" 
                (click)="onPrint(row)">
                  <mat-icon class="font-weight-boldest">print</mat-icon>
              </button>
              <button mat-icon-button class="edit-color" matTooltip="Ver documento" 
                (click)="onViewDocument(row.cliente)">
                <mat-icon class="font-weight-boldest">portrait</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" 
            (click)="selectedRow = selectedRow === row ? null : row" [ngClass]="{ 'selected': row === selectedRow }"
          > 
          </tr>
  
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell msg-no-found" colspan="8">No hay datos que coincidan"</td>
          </tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20]" aria-label="Proyectos por página"></mat-paginator>
    </div>
  </div>