<div class="main-content">
  <nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Usuarios</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear Usuario</li>
    </ol>
  </nav>
 
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form">
        <div class="row">
            <div class="col-6">
                <mat-form-field>
                    <mat-label>Primer Nombre</mat-label>
                    <input type="text" matInput formControlName="firstName" maxlength="25" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >
                    <mat-error *ngIf="submitted && f.firstName.errors">
                        <mat-error *ngIf="f.firstName.errors.required">Ingrese primer nombre</mat-error>
                        <mat-error *ngIf="f.firstName.errors?.pattern">Primer nombre no valido</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field>
                    <mat-label>Segundo Nombre</mat-label>
                    <input type="text"  matInput formControlName="secondName" maxlength="25" [ngClass]="{ 'is-invalid': submitted && f.secondName.errors }" >
                    <mat-error *ngIf="submitted && f.secondName.errors">
                        <mat-error *ngIf="f.secondName.errors.required">Ingrese segundo nombre</mat-error>
                        <mat-error *ngIf="f.secondName.errors?.pattern">Segundo nombre no valido</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
                <mat-form-field>
                    <mat-label>Primer Apellido</mat-label>
                    <input type="text" matInput formControlName="lastName" maxlength="25" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" (focusout)="setUserName()">
                    <mat-error *ngIf="submitted && f.lastName.errors">
                        <mat-error *ngIf="f.lastName.errors.required">Ingrese primer apellido</mat-error>
                        <mat-error *ngIf="f.lastName.errors?.pattern">Primer apellido no valido</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field>
                    <mat-label>Segundo Apellido</mat-label>
                    <input type="text"  matInput formControlName="secondLastName" maxlength="25" [ngClass]="{ 'is-invalid': submitted && f.secondLastName.errors }" >
                    <mat-error *ngIf="submitted && f.secondLastName.errors">
                        <mat-error *ngIf="f.secondLastName.errors.required">Ingrese segundo apellido</mat-error>
                        <mat-error *ngIf="f.secondLastName.errors?.pattern">Segundo apellido no valido</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <mat-form-field>
                <mat-label>Tipo Documento</mat-label>
                <mat-select formControlName="documentType">
                  <mat-option value="V">V</mat-option>
                  <mat-option value="E">E</mat-option>
                </mat-select>
                <mat-error *ngIf="submitted && f.documentType.errors">
                  <mat-error *ngIf="f.documentType.errors.required">Seleccione tipo de documento</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field>
                  <mat-label># Documento</mat-label>
                  <input type="text"  matInput formControlName="documentNumber" maxlength="9" [ngClass]="{ 'is-invalid': submitted && f.documentNumber.errors }" >
                  <mat-error *ngIf="submitted && f.documentNumber.errors">
                      <mat-error *ngIf="f.documentNumber.errors.required">Ingrese número de documento</mat-error>
                      <mat-error *ngIf="f.documentNumber.errors?.pattern">Número de documento no valido</mat-error>
                  </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field>
                    <mat-label>Fecha Nacimiento</mat-label>
                    <input formControlName="birthDate" matInput [matDatepicker]="birthDate" readonly [min]="minDate" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
                    <mat-datepicker #birthDate></mat-datepicker>
                </mat-form-field>
              </div>
          </div>
          
          <div class="row">
            <div class="col-6">
              <mat-form-field>
                  <mat-label>Estado</mat-label>
                  <mat-select  formControlName="estado" (ngModelChange)="getCiudades($event)">
                      <mat-option *ngFor="let s of estados" [value]="s.id">
                        {{s.name}}
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitted && f.estado.errors">
                    <mat-error *ngIf="f.estado.errors.required">Seleccione un estado</mat-error>
                  </mat-error>
              </mat-form-field>
            </div> 
            <div class="col-6">
              <mat-form-field>
                  <mat-label>Parroquia</mat-label>
                  <mat-select  formControlName="ciudad">
                      <mat-option *ngFor="let c of ciudades" [value]="c.id">
                        {{c.name}}
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitted && f.ciudad.errors">
                    <mat-error *ngIf="f.ciudad.errors.required">Seleccione una ciudad</mat-error>
                  </mat-error>
              </mat-form-field>
            </div> 
          </div>

          <div class="row">
            <div class="col-8">
                <mat-form-field>
                    <mat-label>Dirección</mat-label>
                    <input type="text"  matInput formControlName="address" maxlength="150" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" >
                    <mat-error *ngIf="submitted && f.address.errors">
                        <mat-error *ngIf="f.address.errors.required">Ingrese dirección</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>

            
            <div class="col-2">
              <mat-form-field>
                <mat-label>Código</mat-label>
                  <mat-select formControlName="codTelefono">
                    <mat-option value="0414">0414</mat-option>
                    <mat-option value="0424">0424</mat-option>
                    <mat-option value="0412">0412</mat-option>
                    <mat-option value="0422">0422</mat-option>
                    <mat-option value="0416">0416</mat-option>
                    <mat-option value="0426">0426</mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitted && f.codTelefono.errors">
                    <mat-error *ngIf="f.codTelefono.errors.required">Seleccione tipo de documento</mat-error>
                  </mat-error>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                  <mat-label> Número de Teléfono</mat-label>
                  <input type="number"  matInput formControlName="nroTelefono" maxlength="9" [ngClass]="{ 'is-invalid': submitted && f.nroTelefono.errors }" >
                  <mat-error *ngIf="submitted && f.nroTelefono.errors">
                      <mat-error *ngIf="f.nroTelefono.errors.required">Ingrese teléfono</mat-error>
                  </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <mat-form-field>
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="sex">
                  <mat-option value="F">F</mat-option>
                  <mat-option value="M">M</mat-option>
                </mat-select>
                <mat-error *ngIf="submitted && f.sex.errors">
                  <mat-error *ngIf="f.sex.errors.required">Seleccione sexo</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Cargo</mat-label>
                <mat-select  formControlName="position">
                    <mat-option *ngFor="let m of positions" [value]="m.id">
                      {{m.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="submitted && f.position.errors">
                  <mat-error *ngIf="f.position.errors.required">Seleccione un cargo</mat-error>
                </mat-error>
              </mat-form-field>
            </div> 
            <div class="col-6">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" (focusout)="setUserName()">
                <mat-error *ngIf="submitted && f.email.errors">
                  <mat-error *ngIf="f.email.errors.required">Ingrese un email</mat-error>
                  <mat-error *ngIf="f.email.errors?.email">Email no valido</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row roles-font">
            <div class="col-12">
                <mat-label >Roles</mat-label>
                <div class="split-colum rol-padding">
                  <div class="form-group" *ngFor="let r of roles; let i=index" class="col-md-2">
                    <label class="maxContent">
                      <input type="checkbox" 
                            [value]="r.value" 
                            [checked]="isChecked(r.value)"
                            (change)="onCheckChange($event)">
                      {{r.label}}
                    </label>
                  </div>
                </div>
            </div>
          </div>

          <div class="col-12">
            <div class="btn-flex-end">
              <div class="margin-button">
                <button mat-raised-button class="button-add-color" (click)="back()">
                  <div class="btn-content">
                    <div class="button-txt">
                      Regresar
                    </div>
                    <div class="icon">
                      <mat-icon>home</mat-icon>
                    </div>
                  </div>
                </button>
              </div>  
          
              <button  mat-raised-button [disabled]="loading" class="button-add-color" (click)="onSubmit()">
                <div class="btn-content">
                    <div class="button-txt">
                      Guardar
                    </div>
                    <div class="icon">
                      <mat-icon>save</mat-icon>
                    </div>
                </div>
              </button>
            
            </div>
          </div>
      </form>
    </div>
  </div>
</div>

